<div id="main" class="row">
  <div id="left" class="px-3 col-sm-7">
    <!-- search panel -->
    <div class="row mt-2">
      <div class="col-md-4 m-md-auto">
        <button id="filter" class="btn btn-info btn-block" data-toggle="collapse" data-target="#collapsePanel">
          More filters <i class="fa fa-chevron-down"></i>
        </button>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-12">
        <br>
        <div class="collapse" id="collapsePanel">

          <%= search_form_for @search, url: search_path, remote: true do |f| %>

            <div class="row">
              <div class="col-md-8">
                <label>Price range:</label>
                <div id="slider_range"></div>
              </div>
              <div class="col-md-2">
                <label>Min Price:</label>
                <%= f.text_field :price_gteq, class: "form-control" %>
              </div>
              <div class="col-md-2">
                <label>Max Price:</label>
                <%= f.text_field :price_lteq, class: "form-control" %>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-md-6">
                <%= text_field_tag :start_date, params[:start_date], readonly: true, placeholder: "Start Date", class: "form-control datepicker" %>
              </div>
              <div class="col-md-6">
                <%= text_field_tag :end_date, params[:end_date], readonly: true, placeholder: "End Date", class: "form-control datepicker" %>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-md-4">
                <%= check_box_tag "q[room_type_eq_any][]", "Entire" %>Entire Room 
              </div>
              <div class="col-md-4">
                <%= check_box_tag "q[room_type_eq_any][]", "Private"%>Private
              </div>
              <div class="col-md-4">
                <%= check_box_tag "q[room_type_eq_any][]", "Shared" %>Shared
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group select">
                  <label>Accomodate</label>
                  <%= f.select :accommodate_gteq, [["1",1], ["2", 2], ["3", 3], ["4", 4]], id: "accommodate", prompt: "Select...", class: "form_control" %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group select">
                  <label>Bed rooms</label>
                  <%= f.select :bed_room_gteq, [["1",1], ["2", 2], ["3", 3], ["4", 4]], id: "bed_room", prompt: "Select...", class: "form_control" %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group select">
                  <label>Bath rooms</label>
                  <%= f.select :bath_room_gteq, [["1",1], ["2", 2], ["3", 3], ["4", 4]], id: "bath_room", prompt: "Select...", class: "form_control" %>
                </div>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-md-4">
                <%= check_box_tag "q[is_tv_eq]", true %> TV
              </div>
              <div class="col-md-4">
                <%= check_box_tag "q[is_kitchen_eq]", true %> Kitchen
              </div>
              <div class="col-md-4">
                <%= check_box_tag "q[is_Internet_eq]", true %> Internet
              </div>
              <div class="col-md-4">
                <%= check_box_tag "q[is_heating_eq]", true %> Heating
              </div>
              <div class="col-md-4">
                <%= check_box_tag "q[is_air_eq]", true %> Air conditioning
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-md-4 m-md-auto">
                <%= f.submit "Search", class: "btn btn-form btn-info btn-block" %>
              </div>
            </di>

          <% end %>
        </div>
      </div>
      </div>
    </div>

    <div class="row" id="rooms_list">
      <%= render partial: "rooms/rooms_list", locals: {rooms:  @arrRooms} %>
    </div>

  </div>

  <div id="right" class="col-sm-5 d-none d-sm-block">
    <!-- google map -->
    <div id="map" class="h-100 w-100"></div>

    <script async defer type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyBTHe6Ilnvf5pN1Zv8s1I2PLLBFiex1BKs&callback=initializeMap"></script>
    <script type="text/javascript">
      function initializeMap(rooms) {
        rooms = rooms || <%= raw @arrRooms.to_json %>;
        var location = {lat: 44.5, lng: -78.98};
        if(rooms.length >0) {
          location = {lat: rooms[0].latitude, lng: rooms[0].longitude };
        }

        var map = new google.maps.Map(document.getElementById("map"), {
          center: location,
          zoom: 12
        });

        var marker, infowindow;

        rooms.forEach(function(room){
          marker = new google.maps.Marker({
            position: {lat: room.latitude, lng: room.longitude },
            map: map
          });

          infowindow = new google.maps.InfoWindow({
            content: "<div class='map_price'>$" + room.price+ "</div>"
          });

          infowindow.open(map, marker)
        })

      }

      // google.maps.event.addDomListener(window, 'load', initializeMap())
    </script>

  </div>
</div>

<script type="text/javascript">
  $('#start_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected){
      $('#end_date').attr("disabled", false);
      $('#end_date').datepicker("option", "minDate", selected);
    }
  });

  $('#end_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected){
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });

  var open = true;
  $('#filter').click(function() {
    if(open){
      $('#filter').html('More filters <i class="fa fa-chevron-up"></i>')
    }else{
      $('#filter').html('More filters <i class="fa fa-chevron-down"></i>')
    }
    open = !open
  })
</script>

<script type="text/javascript">
  $(function(){
    $('#q_price_gteq').val('100');
    $('#q_price_lteq').val('500');
    $('#slider_range').slider({
      range: true,
      min: 0,
      max: 1000,
      values: [100, 500],
      slide: function(event, ui) {
        $('#q_price_gteq').val(ui.values[0]);
      $('#q_price_lteq').val(ui.values[1]);
      }
    });
  });
</script>