<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <%= link_to "Your Listings", rooms_path, class: "list-group-item list-group-item-action" %>
      <%= link_to "Your Reservations", myreservations_path, class: "list-group-item list-group-item-action active" %>
      <%= link_to "Your Trips", mytrips_path, class: "list-group-item list-group-item-action" %>
    </ul>
  </div>

  <div class="col-md-9">
    <div class="card">
      <div class="card-header">
        Your Reservations
      </div>
      <div class="card-body">
        <div class="container">
          <% @rooms.each do |room| %>
            <% room.reservations.each do |reservation| %>
              <div class="row align-items-center">
                <div class="col-md-2">
                  <%=  reservation.start_date.strftime('%v') %>
                </div>
                <div class="col-md-2" style="height:80px;overflow:hidden;">
                  
                    <%= image_tag reservation.room.use_first_photo(:medium), class: "img-fluid mx-auto d-block img-middle" %>
                  
                </div>
                <div class="col-md-6">
                  <div class="row mb-2">
                    <h5><%= link_to reservation.room.listing_name, room_path(reservation.room) %></h5>
                  </div>
                  <div class="row">
                    <span>
                      <%= image_tag avatar_url(reservation.user), class: "avatar_small rounded-circle" %>
                      <%= link_to user_path(reservation.user) do %>
                        <%= reservation.user.fullname %>
                      <%end%>
                    </span>
                  </div>
                </div>
                <div class="col-md-2 text-right">
                  <%= render partial: "reviews/host_review_form", locals: {reservation: reservation} %>
                </div>
              </div>
              <hr/>
            <% end %>
          <% end %>
            
        </div>
      </div>
    </div>
  </div>
</div>