<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <%= link_to "Your Listings", rooms_path, class: "list-group-item list-group-item-action" %>
      <%= link_to "Your Reservations", myreservations_path, class: "list-group-item list-group-item-action" %>
      <%= link_to "Your Trips", mytrips_path, class: "list-group-item list-group-item-action active" %>
    </ul>
  </div>

  <div class="col-md-9">
    <div class="card">
      <div class="card-header">
        Your Trips
      </div>
      <div class="card-body">
        <div class="container">
          <% @trips.each do |trip| %>
            <div class="row align-items-center mb-4">
              <div class="col-md-2">
                <%=  trip.start_date.strftime('%v') %>
              </div>
              <div class="col-md-2" style="height:80px;overflow:hidden;">
                <%= image_tag trip.room.use_first_photo(:medium), class: "img-fluid mx-auto d-block img-middle" %>
              </div>
              <div class="col-md-6">
                  <div class="row mb-2">
                    <h5><%= link_to trip.room.listing_name, room_path(trip.room) %></h5>
                  </div>
                  <div class="row">
                    <span>
                      <%= image_tag avatar_url(trip.user), class: "avatar_small rounded-circle" %>
                      <%= link_to user_path(trip.user) do %>
                        <%= trip.user.fullname %>
                      <%end%>
                    </span>
                  </div>
                </div>
              <div class="col-md-2 text-right">
                <%= render partial: "reviews/guest_review_form", locals: {reservation: trip} %>
              </div>
            </div>
            <hr/>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>