<div class="col-md-3">
  <ul class="list-group">
    <%= link_to 'Listing', listing_room_path, class: "list-group-item list-group-item-action" %>
    <%= link_to 'Pricing', pricing_room_path, class: "list-group-item list-group-item-action" %>
    <%= link_to 'Description', description_room_path, class: "list-group-item list-group-item-action" %>
    <%= link_to 'Photo Uplad', photo_upload_room_path, class: "list-group-item list-group-item-action" %>
    <%= link_to 'Amenities', amenities_room_path, class: "list-group-item list-group-item-action" %>
    <%= link_to 'Location', location_room_path, class: "list-group-item list-group-item-action" %>
  </ul>
</div>