<%= render 'room_header' %>
  <div class="card-header">
    Location
  </div>
  <div class="card-body">
    <div class="container">
      <%= form_for @room do |f|%>

        <div class="row">
          <div class="form-group w-100">
            <label>Address</label>
            <%= f.text_field :address, placeholder:"What's your address?", class: "form-control" %>
          </div>
        </div>

        <div class="text-center">
          <%= f.submit "Save", class: "btn btn-primary w-50" %>
        </div>

      <% end %>
    </div>
  </div>
<%= render 'room_footer' %>