<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Airoom</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://v4.bootcss.com/dist/css/bootstrap.min.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"><link href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/topbar" %>

    <div class="container mt-4">
      <%= yield %>
    </div>

    <%= render "shared/bottombar" %>
    
    <%= render "shared/message" %>

    
    <script src="https://v4.bootcss.com/assets/js/vendor/popper.min.js"></script>
    <script src="https://v4.bootcss.com/dist/js/bootstrap.min.js"></script>
  </body>
</html>
